body {
  font-family: Arial, sans-serif;
  /* line-height: 1.6;
  scroll-behavior: smooth; */
  background-color: cadetblue;
}

.content {
  padding: 40px;
}


.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.back-to-top:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}
