body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .parent {
            height: 100vh;
            width: 100vw;
            position: relative;
        }

        .child {
            height: 100px;
            width: 100px;
            background-color: yellowgreen;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            animation: move 5s linear infinite;
        }

        @keyframes move {
            0% {
                left: -60px;
            }

            100% {
                left: calc(100vw + 60px);
            }
        }